<<<<<<< HEAD
/* 화면 너비 0px ~ 767px : 그리드 해체 */
@media screen and (max-width: 767px) {
    
}

/* 화면 너비 767px ~ 959px : 동적 그리드 시스템 */
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container {
        margin: 0;
        padding: 0;
    }

    .row {
        overflow: hidden;
        width: 100%;
    }

    .row [class*=span] {
        float: left;
        margin-left: 2%;
    }

    .row [class*=span]:first-child {
        margin-left: 0;
    }

    .span_1 {
        width: 6.5%;
        *width: 6%;
    }
    .span_2 {
        width: 15%;
        *width: 14.5%;
    }
    .span_3 {
        width: 23.5%;
        *width: 23%;
    }
    .span_4 {
        width: 32%;
        *width: 31.5%;
    }
    .span_5 {
        width: 40.5%;
        *width: 40%;
    }
    .span_6 {
        width: 49%;
        *width: 48.5%;
    }
    .span_7 {
        width: 57.5%;
        *width: 57%;
    }
    .span_8 {
        width: 66%;
        *width: 65.5%;
    }
    .span_9 {
        width: 74.5%;
        *width: 74%;
    }
    .span_10 {
        width: 83%;
        *width: 82.5%;
    }
    .span_11 {
        width: 91.5%;
        *width: 91%;
    }
    .span_12 {
        width: 100%;
        *width: 99.5%;
    }
}

/* 화면 너비 959px ~ 무한 픽셀 : 정적 그리드 시스템 */
@media screen and (min-width: 1440px) {
    .container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .row {
        height: 100%;
        overflow: hidden;
    }

    .span_1, .span_2, .span_3, .span_4, .span_5,
    .span_6, .span_7, .span_8, .span_9, .span_10,
    .span_11, .span_12 {
        float: left;
    }

    .span_1 {
        width: 100px;
    }
    .span_2 {
        width: 220px;
    }
    .span_3 {
        width: 340px;
    }
    .span_4 {
        width: 460px;
    }
    .span_5 {
        width: 580px;
    }
    .span_6 {
        width: 700px;
    }
    .span_7 {
        width: 820px;
    }
    .span_8 {
        width: 940px;
    }
    .span_9 {
        width: 1060px;
    }
    .span_10 {
        width: 1180px;
    }
    .span_11 {
        width: 1300px;
    }
    .span_12 {
        width: 1420px;
    }
}
=======
/* 화면 너비 0px ~ 767px : 그리드 해체 */
@media screen and (max-width: 767px) {
    
}

/* 화면 너비 767px ~ 959px : 동적 그리드 시스템 */
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container {
        margin: 0;
        padding: 0;
    }

    .row {
        overflow: hidden;
        width: 100%;
    }

    .row [class*=span] {
        float: left;
        margin-left: 2%;
    }

    .row [class*=span]:first-child {
        margin-left: 0;
    }

    .span_1 {
        width: 6.5%;
        *width: 6%;
    }
    .span_2 {
        width: 15%;
        *width: 14.5%;
    }
    .span_3 {
        width: 23.5%;
        *width: 23%;
    }
    .span_4 {
        width: 32%;
        *width: 31.5%;
    }
    .span_5 {
        width: 40.5%;
        *width: 40%;
    }
    .span_6 {
        width: 49%;
        *width: 48.5%;
    }
    .span_7 {
        width: 57.5%;
        *width: 57%;
    }
    .span_8 {
        width: 66%;
        *width: 65.5%;
    }
    .span_9 {
        width: 74.5%;
        *width: 74%;
    }
    .span_10 {
        width: 83%;
        *width: 82.5%;
    }
    .span_11 {
        width: 91.5%;
        *width: 91%;
    }
    .span_12 {
        width: 100%;
        *width: 99.5%;
    }
}

/* 화면 너비 959px ~ 무한 픽셀 : 정적 그리드 시스템 */
@media screen and (min-width: 1440px) {
    .container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .row {
        height: 100%;
        overflow: hidden;
    }

    .span_1, .span_2, .span_3, .span_4, .span_5,
    .span_6, .span_7, .span_8, .span_9, .span_10,
    .span_11, .span_12 {
        float: left;
    }

    .span_1 {
        width: 100px;
    }
    .span_2 {
        width: 220px;
    }
    .span_3 {
        width: 340px;
    }
    .span_4 {
        width: 460px;
    }
    .span_5 {
        width: 580px;
    }
    .span_6 {
        width: 700px;
    }
    .span_7 {
        width: 820px;
    }
    .span_8 {
        width: 940px;
    }
    .span_9 {
        width: 1060px;
    }
    .span_10 {
        width: 1180px;
    }
    .span_11 {
        width: 1300px;
    }
    .span_12 {
        width: 1420px;
    }
}
>>>>>>> 8cabfb992c14760a08ed25e8d77b4b9f6c60f48a
